<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BUYING</title>
<link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet">
<link href="../css/admin/bootstrap-table.css" rel="stylesheet">
<link href="../css/admin/styles.css" rel="stylesheet">
<link href="../css/all.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.css"> -->
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/admin/bootstrap-table.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.0/summernote.js"></script> -->
<!-- <script src="../js/board/kor.js"></script> -->
<script>
	$(document).ready(function(){
		var socket = io();

		//게시글 수정 버튼 클릭시
		$('.notify-edit-btn').on('click',function() {
			var title = $('#detailmodal .modal-title').text();
			$("#editmodal").css("overflow-y","auto");
			$("#edit-writingId").val($('#detailmodal .notify-detail_id').text());
			$("#edit-title").val(title.substring(4,title.length));
			$("#edit-content").val($('#detailmodal .notify-detail-content').text());
		});
		//게시글 삭제 버튼 클릭시
		$('.notify-del-btn').on('click',function() {
			var del = confirm("삭제하시겠습니까?");
			if(del==true) {
				socket.emit('notify-del',$('#detailmodal .notify-detail_id').text());
			}
			socket.on('notify-del', function(msg) {
				if(msg="ok") {
					alert("삭제되었습니다!");
					location.reload();
			}
				else {
					alert("네트워크 상태가 불안정합니다. 잠시후 시도해 주세요");
					history.back();
				}

			});
		});

	});//documnet
</script>
</head>

<body>
		<%- include adminnav.ejs %>
		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>공지사항관리</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" style="position:relative;">
					<div class="panel-heading">게시글 목록</div>
					<div class="panel-body">
						<div id="my_menu">

							<button class="btn btn-success write-login" data-toggle="modal" data-target="#writemodal">글쓰기</button>
						</div>
						<table id="board_table" data-toggle="table" data-url=""  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
							    <tr>
							        <th data-field="check" data-checkbox="true" ></th>
							        <th data-field="no" data-sortable="true">번호</th>
							        <th data-field="title" data-sortable="true">제목</th>
							        <th data-field="email" data-sortable="true">게시자</th>
							        <th data-field="write_date" data-sortable="true">작성일</th>
							        <!-- <th data-field="hits" data-sortable="true">조회수</th> -->
							    </tr>
						    </thead>
						    <tbody style="text-align: center">
						    <%for(var i=result.length-1; i>=0; i--){%>
					    	<tr>
									<td></td>
									<td><%=parseInt(i)+1%></td>
									<td><a class="col-title notify-title" data-toggle="modal" data-target="#detailmodal" href="#" onclick="load_writingId('<%=result[i].writingId%>')"><%=result[i].title%></a></td>
									<td> <%=result[i].email%></td>
									<td> <%=result[i].write_date%></td>
									<!-- <td class="col-hits">10000000</td> -->
								</tr>
								<%}%>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->
	</div><!--/.main-->
	<%- include ../sub/notifymodal.ejs %>
	<script src="../js/admin/admin.js"></script>
	<!-- <script src="../js/board/responsive.js"></script> -->
	<!-- <script src="../js/board/texteditor.js"></script> -->
</body>

</html>